aside#loader {
    background-color: #000;
    background-image: url("img/lg.cutie-fox-spinner.gif");
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 9999;
    overflow: hidden;
}
.loaded {
    -webkit-animation: load-out 2s forwards;
    animation: load-out 3s forwards;
    overflow: visible;
}
@-moz-keyframes load-out {
    from {
        opacity: 1;
        z-index: 9999;
    }
    to {
        opacity: 0;
        z-index: -9999;
    }
}
@-webkit-keyframes load-out {
    from {
        opacity: 1;
        z-index: 9999;
    }
    to {
        opacity: 0;
        z-index: -9999;
    }
}
@-o-keyframes load-out {
    from {
        opacity: 1;
        z-index: 9999;
    }
    to {
        opacity: 0;
        z-index: -9999;
    }
}
@keyframes load-out {
    from {
        opacity: 1;
        z-index: 9999;
    }
    to {
        opacity: 0;
        z-index: -9999;
    }
}

.heading {
    position: absolute;
    margin-left:20px;
    color: #fff;
    font-size: 550%;
    top: 20%;
    width: 50%;
    text-transofrm: uppercase;
    letter-spacing: 8px;
    text-shadow: 0 0 10px #000;
}

body, html{
    height: 100%;
    margin: 0;
    /*font-family: 'Ubuntu', sans-seriff;*/
    line-height: 180%;
    color: #666;
    display: unset;
    /*text-align: center;*/
}

.px1{
    background: url("img/animal-branch-cat-35888.jpg");
    min-height: 100%;
}

.px2{
    background: url(img/BlackAndOrangeSwirl.jpg);
    min-height: 60%;
}

.px3{
    background: url(img/blackandorangGrid.jpg);
    min-height: 40%;
}

.px4{
    background: url(img/orangecherry.jpg);
    min-height: 100%;
}

.px1, .px2, .px3, .px4 {
    position: relative;
    opacity: .75;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

.two-col{
    float:left;
    width: 42%;
    padding: 0 4%;
    text-align: left;
}

section{
    overflow: auto;
    padding: 50px 80px;
}

.dark {
    overflow: auto;
    padding: 50px 80px;
    background-color: #323232;
    color: #fff;
}

@media (max-width: 768px) {
    .heading{
        font-size:250%;
    }

    .heading-sm{
        font-size: 180%;
    }
    .two-col{
        width:100%;
        padding: 0;
        text-align: center;
    }
}

